<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Users</title>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <nav>
      <a href="/">Ajouter des utilisateurs</a>
    </nav>
  </header>
  <h1>Users</h1>
  <ul>
    <% users.forEach((user, index) => { %>
      <li>
        <%= user.name %> <%= utils.formatBirth(user.birth) %>
        <form action="/delete-user" method="post">
          <input type="hidden" name="id" value="<%= index %>">
          <button type="submit">X</button>
        </form>
      </li>
    <% }); %>
  </ul>
</body>
</html>